.home-card-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.home-card-content {
  text-align: justify;
  line-height: 140%;
}

.home-card-content-name {
  font-size: large;
  font-weight: bolder;
}

.quote {
  font-style: oblique;
  font-size: 90%;
}

.quote::before {
  content: "\201C";
}

.quote::after {
  content: "\201D";
}